{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/iconfont/horizontalListing.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <ul class="list-group list-group-horizontal">
            {#//to set the width of the category#}
            {% set width = 100 / categories|length %}
            {% for category in categories %}
                <li class="list-group-item" style="width: {{ width }}%;">
                    <img src="{{ asset('assets/images/bookcategories/' ~ category.icon) }}" alt="{{ category.title }}" width="30%">
                    <a href="#"><p class="category-title">{{ category.title }}</p></a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-4 col-md-offset-8">
        <h3 class="title">{% if books|length == 0 %}No books found!{% else %}Latest books{{ books|length }}{% endif %}</h3>
        <ul class="list-group">
            {% for book in books %}
                <li class="list-group-item">
                    {{ book.title }}
                    <a href="{{ path('view_the_book', {id: book.id}) }}" class="btn btn-info btn-sm"><i class="fa fa-edit"></i>View</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}