{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {{ form_start(form) }}
                {{ form_row(form._username) }}
                {{ form_row(form._password) }}
                <button class="btn btn-primary" type="submit">{{ 'Submit' }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}