{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/iconfont/horizontalListing.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <ul class="list-group list-group-horizontal">
            {#//to set the width of the category#}
            {% set width = 100 / categories|length %}
            {% for category in categories %}
                <li class="list-group-item {% if category == currentCategory %}active{% endif %}" style="width: {{ width }}%;">
                    <img src="{{ asset('assets/images/bookcategories/' ~ category.icon) }}" alt="{{ category.title }}" width="30%">
                    <a href="{{ path('category_books', {id: category.id}) }}"><p class="category-title">{{ category.title }}</p></a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        {% for book in currentCategory.books %}
            <div class="col-xs-6 col-md-3">
                <a href="{{ path('view_the_book', {id: book.id}) }}" class="thumbnail">
                    <img src="{{ asset('uploads/covers/' ~ book.cover) }}" alt="{{ book.title }}">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}