<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.min.css') }}">
    {% endblock %}
</head>
<body>
{{ include('::navigation.html.twig') }}
<div class="container">
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert-success">{{ msg }}</div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert-error">{{ msg }}</div>
    {% endfor %}
    {% block body %} {% endblock %}
</div>
{% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>