{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <img src="{{ asset('uploads/book1.jpg') }}" class="img-responsive img-rounded" alt="The book image">
        </div>
        <div class="col-md-8">
            <h1>{{ book.title }}</h1>
            <p>{{ book.description }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="#" class="btn btn-default">{{ 'Buy'|trans }}</a>
            <a href="#" class="btn btn-default">{{ 'Exchange'|trans }}</a>
        </div>
    </div>
    {{ form_start(reviewForm) }}
        {{ form_row(reviewForm.rating) }}
        {{ form_row(reviewForm.shelf) }}
        {{ form_row(reviewForm.finishedReading) }}
        {{ form_row(reviewForm.startedReading) }}
        {{ form_row(reviewForm.review) }}
        <button class="btn btn-default" type="submit">Submit</button>
    {{ form_end(reviewForm) }}
{% endblock %}