{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            {{ form_start(form) }}
            {{ form_row(form.author) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.pages, {'label': 'Number of pages'}) }}
            {{ form_row(form.publishedAt) }}
            <button class="btn btn-sm btn-primary" type="submit">Save</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
{% endblock %}