{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row profile">
            <div class="col-lg-3 col-sm-6">

                <div class="card hovercard">
                    <div class="cardheader">

                    </div>
                    <div class="avatar">
                        <img alt="" src="http://lorempixel.com/100/100/people/9/">
                    </div>
                    <div class="info">
                        <div class="title">
                            <a href="http://scripteden.com/">{{ app.user.name ~ ' ' ~ app.user.lastname }}</a>
                        </div>
                        <div class="desc">Passionate designer</div>
                        <div class="desc">Curious developer</div>
                        <div class="desc">Tech geek</div>
                    </div>
                    <div class="bottom">
                        <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" rel="publisher"
                           href="https://plus.google.com/+ahmshahnuralam">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a class="btn btn-primary btn-sm" rel="publisher"
                           href="https://plus.google.com/shahnuralam">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                            <i class="fa fa-behance"></i>
                        </a>
                    </div>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#timeline" data-toggle="pill">{{ 'Timeline'|trans }}</a></li>
                    <li class=""><a href="#settings" data-toggle="pill">{{ 'Account settings'|trans }}</a></li>
                </ul>
            </div>
            <div class="tab-content col-md-9">
                <div class="tab-pane active" id="timeline">
                    <h2>{{ 'Timeline'|trans }}</h2>
                    <ul class="timeline">
                        <li class="first-dot">
                            <p class="timeline-date">{{ "now"|date('D g:i a') }}</p>
                            <div class="timeline-content">
                                <h3>{{ 'Today'|trans }}</h3>
                            </div>
                        </li>
                        {% for event in timeline %}
                            <li>
                                <p class="timeline-date">{{ event.createdAt|date('D g:i a') }}</p>
                                <div class="timeline-content">
                                    <h3>{{ event.title }}</h3>
                                    <p>{{ event.description }}</p>
                                    <a href="{{ path('view_the_book', {id: event.parentId}) }}#review{{ event.userId }}" class="btn btn-default">{{ 'Open'|trans }}</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane" id="settings">
                    <h3>{{ 'Settings'|trans }}</h3>
                    {{ form_start(profileForm) }}
                    {{ form_row(profileForm.name) }}
                    {{ form_row(profileForm.lastname) }}
                    {{ form_row(profileForm.username) }}
                    {{ form_row(profileForm.email) }}
                    <button class="btn btn-primary">{{ "Update"|trans }}</button>
                    {{ form_end(profileForm) }}
                </div>
            </div>
        </div>
    </div>

    <!-- Tab panes -->
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/profileCard.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/timeline.css') }}">
{% endblock %}